.not-found-content {
    text-align: center;

    h1 {
        font-size: 4rem;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }

    p {
        margin-bottom: 2rem;
        color: #6b7280;
    }
}