<ion-header>
  <ion-toolbar>
    <ion-title>API: Tareas remotas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="cargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item lines="full">
      <ion-label>
        <h2>Demo JSONPlaceholder</h2>
        <p>GET / POST / PUT / DELETE + cache Storage</p>
      </ion-label>
      <ion-button slot="end" size="small" (click)="crearDemo()">
        Crear demo
      </ion-button>
    </ion-item>

    <ion-item *ngIf="cargando">
      <ion-label>Cargando...</ion-label>
      <ion-spinner slot="end"></ion-spinner>
    </ion-item>

    <ion-item *ngFor="let t of tareas">
      <ion-checkbox
        slot="start"
        [checked]="t.completed"
        (ionChange)="toggleCompleta(t)"
      ></ion-checkbox>

      <ion-label>
        <h2>{{ t.title }}</h2>
        <p>ID: {{ t.id }} · user: {{ t.userId }}</p>
      </ion-label>

      <ion-button
        fill="clear"
        color="danger"
        slot="end"
        (click)="eliminar(t)"
      >
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
