<ion-header class="ion-no-border">
  <ion-toolbar class="glass-header">
    <ion-title size="large" class="main-title">Mis Notas</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="irApiTareas()">API</ion-button>
      <ion-button (click)="cerrarSesion()" color="primary" style="font-weight: 600;">
        Salir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding home-content">

  <div class="welcome-section animate-entry">
    <h1 class="greeting">Hola, <span class="username">{{ nombreUsuario }}</span> 👋</h1>
    <p class="subtitle">¿Qué tienes en mente hoy?</p>
  </div>

  <!-- Buscador -->
  <div class="search-container animate-entry" style="animation-delay: 0.1s;">
    <ion-searchbar placeholder="Buscar en tus notas..." [(ngModel)]="query" class="custom-search" debounce="150"
      showCancelButton="focus">
    </ion-searchbar>
  </div>

  <!-- Lista de notas -->
  <div *ngIf="tareasFiltradas.length > 0; else sinTareas" class="notes-grid animate-entry"
    style="animation-delay: 0.2s;">
    <div *ngFor="let tarea of tareasFiltradas" class="note-card custom-card"
      [style.--note-color]="getNoteBg(tarea.color)" (click)="verDetalle(tarea)">
    
          <!-- mini preview de la foto -->
      <div class="note-photo" *ngIf="tarea.fotoData">
        <img [src]="tarea.fotoData" alt="Foto tarea" />
      </div>

      <div class="note-content">
        <div class="note-header">
          <h2 class="note-title">{{ tarea.titulo }}</h2>
          <ion-icon *ngIf="tarea.completada" name="checkmark-circle" color="success"></ion-icon>
        </div>

        <p class="note-desc">{{ tarea.descripcion }}</p>

        <div class="note-footer">
          <span class="note-date">{{ formatFechaHora(tarea.updatedAt || tarea.createdAt) }}</span>
          <span class="status-badge" [class.done]="tarea.completada">
            {{ tarea.completada ? 'Listo' : 'Pendiente' }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <ng-template #sinTareas>
    <div class="empty-state animate-entry" style="animation-delay: 0.2s;">
      <img src="assets/icon/favicon.png" alt="No notes" class="empty-img"
        style="opacity: 0.5; width: 80px; filter: grayscale(1);">
      <h3>No hay nada por aquí</h3>
      <p>Toca el botón + para crear una nota</p>
    </div>
  </ng-template>

  <!-- FAB -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="custom-fab">
    <ion-fab-button (click)="irAgregar()" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>