<ion-header>
  <ion-toolbar>
    <ion-title class="app-title">Crear Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="register-content">
  <div class="register-container">
    <h2 class="register-title">Regístrate</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input formControlName="usuario"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="registerForm.get('usuario')?.touched && registerForm.get('usuario')?.invalid">
        <p class="ion-padding-start">El usuario es requerido.</p>
      </ion-text>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="clave"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="registerForm.get('clave')?.touched && registerForm.get('clave')?.invalid">
        <p class="ion-padding-start">La contraseña es requerida.</p>
      </ion-text>

      <ion-button expand="block" type="submit" class="btn-register">Crear Cuenta</ion-button>
    </form>
  </div>
</ion-content>


