<ion-header>
  <ion-toolbar>
    <ion-title class="app-title">Crear Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="register-content">
  <div class="register-container">
    <h2 class="register-title">Regístrate</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

      <!-- USUARIO -->
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input formControlName="usuario"></ion-input>
      </ion-item>

      <ion-text color="danger" *ngIf="registerForm.get('usuario')?.touched && registerForm.get('usuario')?.invalid">
        <ion-note *ngIf="registerForm.get('usuario')?.hasError('required')">
          El usuario es requerido.
        </ion-note>
        <ion-note *ngIf="registerForm.get('usuario')?.hasError('minlength')">
          Debe tener al menos 3 caracteres.
        </ion-note>
        <ion-note *ngIf="registerForm.get('usuario')?.hasError('maxlength')">
          No puede superar los 16 caracteres.
        </ion-note>
        <ion-note *ngIf="registerForm.get('usuario')?.hasError('pattern')">
          Solo se permiten letras, números y los símbolos . _ -
        </ion-note>
      </ion-text>

      <!-- CONTRASEÑA -->
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="clave"></ion-input>
      </ion-item>

      <ion-text color="danger" *ngIf="registerForm.get('clave')?.touched && registerForm.get('clave')?.invalid">
        <ion-note *ngIf="registerForm.get('clave')?.hasError('required')">
          La contraseña es requerida.
        </ion-note>
        <ion-note *ngIf="registerForm.get('clave')?.hasError('pattern')">
          Debe tener mínimo 8 caracteres, incluir una mayúscula, una minúscula, un número y un símbolo.
        </ion-note>
      </ion-text>

      <ion-button expand="block" type="submit" class="btn-register">Crear Cuenta</ion-button>
    </form>
  </div>
</ion-content>


